/* page job vacancy */

.card-job-vacancy {
    width: 100%;
}

.card-img-top {
    width: 200px;
    margin: 0 auto;
}

.img-job-vacancy {
    width: 100px;
    height: 100px;
}

.body-job-vacancy {
    width: 80%;
}

.body-job-vacancy .text-date {
    font-size: small;
    font-weight: 700;
    color: rgb(150, 141, 141);
}

.body-job-vacancy .text-author {
    font-size: small;
    font-weight: 600;
    color: rgb(138, 121, 121);
}

/* navbar */

.nav-route {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 995px) {
    .nav-route {
        display: block;
    }
}

@media only screen and (max-width: 446px) {

    .main-card-job-vacancy {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-job-vacancy {
        width: 70%;
        height: 70%;
    }

}

@media only screen and (max-width: 799px) {
    .card-job-vacancy {
        display: none;
    }
}
