/* page job vacancy */

.card-job-vacancy {
    width: 25rem;
}

.card-img-top {
    width: 200px;
    margin: 0 auto;
}

.img-job-vacancy {
    width: 200px;
    height: 150px;
}

/* navbar */

.nav-route {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 995px) {
    .nav-route {
        display: block;
    }
}

@media only screen and (max-width: 446px) {

    .main-card-job-vacancy {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 799px) {
    .card-job-vacancy {
        display: none;
    }
}
